{% include 'banker_header.html'%}


<!-- banner -->
<div class="banner" id="home">
	<div class="layer">
		<div class="container">
			<div class="banner-text-w3pvt">
				<!-- banner slider-->
				<div class="csslider infinity" id="slider1">
					
					<ul class="banner_slide_bg">
						
						<li>
							<div class="w3ls_banner_txt">
<center>
	<h1 style="color: white">Add Offers</h1>
	<form method="post" enctype="multipart/form-data">
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Offers</th>
				<td><input type="text" required="" class="form-control" name="details"></td>
			</tr>
				<tr>
				<th>Details</th>
				<td><input type="text" required="" class="form-control" name="days"></td>
			</tr>
			
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="add"></td>
			</tr>
		</table>
	</form>
</center>



	
							</div>
						</li>
					</ul>
					
				</div>
				<!-- //banner slider-->
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
<center>
	<h1>View Offers</h1>
	<table class="table" style="width: 500px;color: black">
		<tr>
				<th>Offers</th>
			<th>Details</th>
			
		</tr>
		{% for row in data['varientview']%}
		<tr>
			<td>{{row['offerss']}}</td>
			<td>{{row['details']}}</td>
			
			
		</tr>

		{% endfor %}
	</table>
</center>

{% include 'footer.html'%}