{% include 'investor_header.html'%}


<!-- banner -->
<div class="banner" id="home">
	<div class="layer">
		<div class="container">
			<div class="banner-text-w3pvt">
				<!-- banner slider-->
				<div class="csslider infinity" id="slider1">
					
					<ul class="banner_slide_bg">
						
						<li>
							<div class="w3ls_banner_txt">



<center>
	<h1 style="color: white">Send proposal</h1>
	<form method="post">
		<table class="table" style="width: 500px;color: white">
			<tr>
				<th>Amount</th>
				<td><input type="text" required="" class="form-control" name="Amount"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="sendproposal"></td>
			</tr>
		</table>
	</form>
</center>

               

							</div>
						</li>
					</ul>
					
				</div>
				<!-- //banner slider-->
			</div>
		</div>
	</div>
</div>
<!-- //banner -->
{% include 'footer.html'%}